<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cómics - TEC-Anime</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <a href="/">Inicio</a>
    <a href="/comics">Cómics</a>
    <a href="/contact">Contáctanos</a>
  </nav>

  <h1>Nuestros Cómics</h1>
  <div class="card-container">
    <div class="card">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/3/a0/66bb71672c609/portrait_uncanny.jpg" alt="Comic 1">
      <h3>MILES MORALES: SPIDER-MAN ANNUAL #1 (2023) #1</h3>
      <p>BaxterBaldeonVicentini</p>
    </div>
    <div class="card">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/8/d0/66bb717cb220d/portrait_uncanny.jpg" alt="Comic 2">
      <h3>GIANT-SIZE THOR #1 (2024) #1</h3>
      <p>EwingLevelHitch</p>
    </div>
    <div class="card">
      <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/1/30/66bb716729729/portrait_uncanny.jpg" alt="Comic 3">
      <h3>Predator Vs. Black Panther (2024) #1</h3>
      <p>PercyAllenLashley</p>
    </div>
    <div class="card">
        <img src="https://proassetspdlcom.cdnstatics2.com/usuaris/libros/thumbs/4ce20056-75dd-48bb-a97c-e9fbbb655202/d_295_510/portada_one-piece-n-002_eiichiro-oda_202405081709.webp" alt="Comic 3">
        <h3>One Piece nº 002</h3>
        <p>Eiichiro Oda</p>
    </div>
      <div class="card">
        <img src="https://cdn.marvel.com/u/prod/marvel/i/mg/1/30/66bb716729729/portrait_uncanny.jpg" alt="Comic 3">
        <h3>Predator Vs. Black Panther (2024) #1</h3>
        <p>PercyAllenLashley</p>
    </div>
    <div class="card">
        <img src="https://proassetspdlcom.cdnstatics2.com/usuaris/libros/thumbs/1e4cd676-b970-4e23-abff-83c264ac869d/d_295_510/portada___201706011613.webp" alt="Comic 3">
        <h3>Uzumaki Integral</h3>
        <p>Junji Ito</p>
      </div>
  </div>
  <footer>
    <p>Derechos reservados TEC-Anime. ¿Quiere saber más?. Enlace del 
    <a href="https://github.com/ASantiagoNunezG/WEB_AVANZADO.git">repositorio</a></p>
  </footer>
</body>
</html>
