<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio - TEC-Anime</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <a href="/">Inicio</a>
    <a href="/comics">Cómics</a>
    <a href="/contact">Contáctanos</a>
  </nav>

  <header>
    <h1>Bienvenido a TEC-Anime </h1>
    <p>Tu tienda favorita para los mejores cómics.</p>
  </header>

  <section>
    <h2>¿Qué ofrecemos?</h2>
    <p>En TEC-Anime, encontrarás una amplia colección de cómics.</p>
    <p>¡Explora y diviertete!</p>
    <h1 class="titulo">TEC-ANIME</h1>
  </section>
  <footer>
    <p>Derechos reservados TEC-Anime. ¿Quiere saber más?. Enlace del 
    <a href="https://github.com/ASantiagoNunezG/WEB_AVANZADO.git">repositorio</a></p>
  </footer>
</body>
</html>
