<!--<nav>
  <a href="#index">Inicio</a>
  <a href="#nosotros">Nosotros</a>
  <a href="#servicios">Servicios</a>
  <a href="#productos">Productos</a>
  <a href="#marcas">Marcas</a>
  <a href="#contactanos">Contáctanos</a>
</nav>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="background-color: rgb(89, 89, 160);">
    <a class="navbar-brand" href="#"><img width="300" src="assets/images/LOGO_IKOMI.png"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#index" style="color: white;">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros" style="color: white;">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicios" style="color: white;">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#productos" style="color: white;">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#marcas" style="color: white;">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactanos" style="color: white;">Contáctanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="index">
  <app-index></app-index>
</div>
<div id="nosotros">
  <app-nosotros></app-nosotros>
</div>
<div id="servicios">
  <app-servicios></app-servicios>
</div>
<div id="productos">
  <app-productos></app-productos>
</div>
<div id="marcas">
  <app-marcas></app-marcas>
</div>
<div id="contactanos">
  <app-contactanos></app-contactanos>
</div>
<footer>
  <app-footer></app-footer>
</footer>
