<div class="login-container">
  <h2 class="login-title">Inicia Sesión</h2>
  <form (ngSubmit)="login()" class="login-form">
    <label class="login-label">
      Usuario:
      <input 
        [(ngModel)]="loginData.username" 
        name="username" 
        class="login-input" 
        placeholder="Ingresa tu usuario">
    </label>
    <label class="login-label">
      Contraseña:
      <input 
        [(ngModel)]="loginData.password" 
        name="password" 
        type="password" 
        class="login-input" 
        placeholder="********">
    </label>
    <button type="submit" class="login-button">Entrar</button>
  </form>
</div>
