<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%- include('partials/navbar') %> <!-- Incluye la barra de navegación -->
    <div class="container2">
        <div class="image-container">
            <img src="images/fondo_lab07.png" alt="imagen de una tienda" class="store-image">
        </div>
        <div class="description-container">
            <h1>Bienvenido a Nuñez Store</h1>
            <p>
                Fundada por el empresario <strong>A. Nuñez</strong>, Nuñez Store se ha convertido en un referente de calidad y confianza en el sector. Desde su creación, la tienda ha estado comprometida con ofrecer los mejores insumos para satisfacer las necesidades de nuestros clientes.
            </p>
            <h2>Misión</h2>
            <p>
                Nuestra misión es proporcionar productos de alta calidad a precios competitivos, asegurando la satisfacción total de nuestros clientes mediante un servicio excepcional y un enfoque en la innovación.
            </p>
            <h2>Visión</h2>
            <p>
                Nos proponemos ser la tienda líder en el sector de insumos, reconocida por nuestra calidad, innovación y servicio al cliente en toda la región.
            </p>
        </div>
    </div>
    <footer>
        <h1>ADMINISTRACIÓN DE LA NUÑEZ-STORE</h1>
        <div class="footer">
            <p>&copy; 2024 Nuñez Store. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>

