<!-- src/app/home/home.component.html -->

<div class="container">
    <h2>Bienvenido al Home</h2>
    <button (click)="logout()">Cerrar sesión</button>

        <nav>
          <a routerLink="/login" routerLinkActive="active">Login</a>
          <a routerLink="/registro" routerLinkActive="active">Registro</a>
        </nav>
        
      
 
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{ empleado.nombres }}</td>
          <td>{{ empleado.correo }}</td>
          <td>{{ empleado.cargo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  