<div class="container mt-5">
    <div class="row">
      <!-- Tarjeta 1 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/assets/images/nosotros.jpg" class="card-img-top" alt="Card Image 1">
          <div class="card-body">
            <h5 class="card-title">Equipo</h5>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 2 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/assets/images/img-prueba.jpg" class="card-img-top" alt="Card Image 2">
          <div class="card-body">
            <h5 class="card-title">Almacén</h5>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 3 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/assets/images/entrada.jpg" class="card-img-top" alt="Card Image 3">
          <div class="card-body">
            <h5 class="card-title">Tienda</h5>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 4 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/assets/images/empresa.jpg" class="card-img-top" alt="Card Image 4">
          <div class="card-body">
            <h5 class="card-title">Empresa</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  