<div class="servicios-container">
    <div class="text-center mb-5">
        <h2 class="text-white">Nuestros Servicios</h2>
        <p class="text-white">Conoce los servicios que ofrecemos para mejorar tu experiencia.</p>
      </div>
    <div class="container py-5">
      <div class="row">
        <!-- Tarjeta 1 -->
        <div class="col-md-6 mb-4">
          <div class="card d-flex flex-row align-items-center p-3">
            <div class="icon-container mr-3">
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Ventas</h5>
              <p class="card-text">Venta de los mejores repuestos de partes de motor, cajas, transmisiones, piñones, coronas y trenes fijos de las marcas de Korea y Japon. A los mejores precios del mercado.</p>
            </div>
          </div>
        </div>
  
        <!-- Tarjeta 2 -->
        <div class="col-md-6 mb-4">
          <div class="card d-flex flex-row align-items-center p-3">
            <div class="icon-container mr-3">
             
            </div>
            <div class="card-body">
              <h5 class="card-title">Asesoría</h5>
              <p class="card-text">Le brindamos una asesoría personalidad acerca de nuestros productos, a elegir el mejor repuesto para su movilidad.</p>
            </div>
          </div>
        </div>
  
        <!-- Tarjeta 3 -->
        <div class="col-md-6 mb-4">
          <div class="card d-flex flex-row align-items-center p-3">
            <div class="icon-container mr-3">
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Delivery</h5>
              <p class="card-text">Compras sin salir de casa, realizamos entregas a domicilio en el menor tiempo posible.</p>
            </div>
          </div>
        </div>
  
        <!-- Tarjeta 4 -->
        <div class="col-md-6 mb-4">
          <div class="card d-flex flex-row align-items-center p-3">
            <div class="icon-container mr-3">
            
            </div>
            <div class="card-body">
              <h5 class="card-title">Productos</h5>
              <p class="card-text">Contamos con las mejores marcas y calidad de productos del mercado</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  