<div class="productos-container">
    <div class="container py-5">
      <!-- Título y texto encima de las tarjetas -->
      <div class="text-center mb-5">
        <h2 class="text-dark">Nuestros Productos</h2>
        <p class="text-dark">Descubre nuestra variedad de productos de calidad.</p>
      </div>
  
      <div class="row">
        <!-- Tarjeta 1 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="/assets/images/producto/valeo/DISCO-DE-EMBRAGUE-768x551.png" alt="Producto 1" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">DISCO DE EMBRAGUE</h5>
              
            </div>
          </div>
        </div>
  
        <!-- Tarjeta 2 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="assets/images/producto/HANSANG/14-HANSANG-PINON-Y-CORONA-768x512.jpg" alt="Producto 2" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">PIÑON Y CORONA</h5>
            </div>
          </div>
        </div>
  
        <!-- Tarjeta 3 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="assets/images/producto/valeo/PLATO-DE-EMBRAGUE-768x515.png" alt="Producto 3" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">PLATO DE EMBRAGUE</h5>
            </div>
          </div>
        </div>
  
        <!-- Tarjeta 4 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="assets/images/producto/SANGSIN/pastilla-hiq.1-2-768x469.png" alt="Producto 4" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">PASTILLA DE FRENO HI-Q</h5>
            </div>
          </div>
        </div>
  
        <!-- Tarjeta 5 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="/assets/images/producto/HANSANG/PROPULSOR-Y-DESLIZANTE-3-768x636.png" alt="Producto 5" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">PROPULSOR Y DESLIZANTE</h5>
            </div>
          </div>
        </div>
  
        <!-- Tarjeta 6 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="assets/images/producto/valeo/IPEX080internet-768x512.jpg" alt="Producto 6" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">VOLANTE DE MOTOR BIMASA Y BOMBA</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  